{
    "create_indexes": true, 
    "root_documents_sort_first": false, 
    "name": "\u96f6\u96f6\u788e\u788e\u7684\u5982\u610f", 
    "auto_cover": true, 
    "pdf_css": "", 
    "submit_button": null, 
    "subtitle": "\u81f4\u8fc7\u53bb\u7684\u65f6\u5149", 
    "password": "", 
    "show_order_number_in_indexes": false, 
    "re_check": false
}